
    <style type="text/css">
        body {
            background-color: #fff;
        }

        .header-img-cover {
            height: 50vh;
            background-size: cover;
            background-position: center;
        }

        .font-size-24 {
            font-size: 24px;
        }

        .need-block img {
            max-width: 100px;
        }
        .food-block img {
            max-width: 100px;
        }

        .need-block, .food-block {
            text-align: center;
            padding: 70px;
            background-color: #1b263b;
            border-radius: 100px;
        }

            .need-block .col-3 {
                height: 180px;
                margin: auto;
            }

            .food-block .col-3 {
                height: 180px;
            }
    </style>
    <div class="w-100 header-img-cover position-relative" style="background-image: url('/Upload/cat-banner.jpg');"></div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">醫療事項：</div>
                <p class="pl-5">
                    領養到貓咪後接著就是將貓咪帶至動物醫院進行體內外寄生蟲的驅除、檢查是否有感冒，如有感冒或其他疾病，便要讓貓咪一併接受治療，若貓咪年齡為六個月以上、體重超過兩公斤、尚未接受過結紮手術，並且於完成體內外驅蟲以及必要診療後，確認健康狀況都正常，就可以與獸醫討論適合結紮的時間點了。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">洗澡事項：</div>
                <p class="pl-5">
                    大多貓咪都不喜歡洗澡，加上貓咪天性敏感，浴室的水聲回音會讓牠們感到非常不舒服，若勉強洗澡，可能會導致貓咪累積精神壓力，體外寄生蟲無法透過洗澡除去，必須使用動物醫院提供的處方藥才能驅除乾淨，加上貓咪會自行清理身體，因此沒有幫貓咪洗澡也是沒關係的，若一定要幫貓咪洗澡，洗澡的時候要小心別讓耳朵進水，泡泡別沾到眼睛，以免讓貓咪對洗澡留下不好的印象。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">刷牙事項：</div>
                <p class="pl-5">
                    願意每天花心思幫貓咪刷牙很棒，但是如果沒有慢慢練習，直接把貓咪抱著就刷牙，很可能讓貓咪變得排斥刷牙，長期下來的慢性壓力，容易造成免疫力下降、或產生其他行為問題，所以非常非常不建議貿然幫貓咪刷牙，要訓練貓咪刷牙，一定要把步驟拆得非常細，每天一點一點慢慢練習，也許要花個半年才能完成也不一定，但這樣可以確保他能夠在沒有壓力的狀況下讓你刷牙！慢慢來才會比較快，慢慢來才是成功的方法。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5">
                <div class="mb-3">如廁事項：</div>
                <p class="pl-5">
                    原本在戶外生活的貓咪，無法知道飼主希望牠在哪裡如廁，可能因此一不小心就隨地大小便，這時候請體諒貓咪，牠不是故意的，發現貓咪有點焦慮地走來走去時，或許是正在尋找適合如廁的位置，此時請引導貓咪至貓砂盆，或是直接將貓砂盆推到牠面前，耐心地多試幾次，貓咪就會知道哪邊是牠的貓砂盆囉。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5">
                <div class="mb-3">剪指甲事項：</div>
                <p class="pl-5">
                    貓咪的指甲可以自行伸縮，平時會將指甲收起來，剪指甲時需要輕輕按壓肉墊及指頭中間的位置，才能將指甲擠出來，半透明的指甲，可以看到粉紅色的血管處，血管處蘊含許多神經，剪指甲時要小心避開這裡，避免貓咪流血、疼痛，留下不好的印象。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">生活環境需求：</div>
                <div class="row need-block">
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/pet-bed.png">
                            <div class="text-white">貓窩</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/cat-toy.png">
                            <div class="text-white">玩具</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/cat-food.png">
                            <div class="text-white">貓飼料</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/dispenser.png">
                            <div class="text-white">水盆</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/toothbrush.png">
                            <div class="text-white">牙刷</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/litter-box.png">
                            <div class="text-white">貓砂盆</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/pet-food.png">
                            <div class="text-white">飼料盆</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/nail-clipper.png">
                            <div class="text-white">指甲剪</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 font-size-24 mb-5">
                <div class="mb-3">不能吃的食物：</div>
                <div class="row food-block">
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/cherries.png">
                            <div class="text-white">櫻桃</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/shallot.png">
                            <div class="text-white">青蔥、韭菜</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/garlic.png">
                            <div class="text-white">大蒜</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/milk.png">
                            <div class="text-white">牛奶</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/grapes.png">
                            <div class="text-white">葡萄</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/onion.png">
                            <div class="text-white">洋蔥</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/avocado.png">
                            <div class="text-white">酪梨</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/orange.png">
                            <div class="text-white">柑橘類</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/walnut.png">
                            <div class="text-white">核桃</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/shallot (1).png">
                            <div class="text-white">紅蔥頭</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/liquor.png">
                            <div class="text-white">酒精飲料</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/chocolate-bar.png">
                            <div class="text-white">巧克力</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
