

    <style type="text/css">
        body {
            background-color: #fff !important;
        }

        .header-img-cover {
            height: 50vh;
            background-size: cover;
            background-position: center;
        }

        .font-size-24 {
            font-size: 24px;
        }

        .need-block img {
            max-width: 100px;
        }
        .food-block img {
            max-width: 100px;
        }

        .need-block, .food-block {
            text-align: center;
            padding: 70px;
            background-color: #1b263b;
            border-radius: 100px;
        }

            .need-block .col-3 {
                height: 180px;
                margin: auto;
            }

            .food-block .col-3 {
                height: 180px;
            }
    </style>
    <div class="w-100 header-img-cover position-relative" style="background-image: url('/Upload/dog1.jpg');"></div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">醫療事項：</div>
                <p class="pl-5">
                    領養到狗狗後接著就是將狗狗帶至動物醫院進行體內外寄生蟲的驅除、檢查是否有感冒，如有感冒或其他疾病，便要讓狗狗一併接受治療，若狗狗年齡為八個月以上、尚未接受過結紮手術，並且於完成體內外驅蟲以及必要診療後，確認健康狀況都正常，就可以與獸醫討論適合結紮的時間點了。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">洗澡事項：</div>
                <p class="pl-5">
                    由於狗狗的皮膚結構比人類脆弱，如果太常洗澡，會將牠們皮膚表層的保護性油脂洗掉，使得皮膚的防禦力降低，增加細菌、病毒、寄生蟲入侵的機會，成為誘發皮膚疾病的因素。每一隻狗狗適合的洗澡頻率不太一樣，並沒有固定的答案，主要取決於狗狗本身的體味與出門的頻率，飼主也可評估犬種、季節、狗狗皮膚毛質狀況與生活環境等因素。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">刷牙事項：</div>
                <p class="pl-5">
                    對狗狗來說牙膏則並不是必備品有或沒有都是可以的，只要狗狗願意被刷牙，搭配清水也可以，重點是牙齒與牙刷物理性的摩擦擺動才能避免牙結石的生成。至於牙刷要選用哪一種，基本上要看狗狗的體型大小，小狗使 用兒童牙刷，大狗使用一般成人牙刷，軟毛硬毛不是那麼重要，重點是要刷出聲音。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">如廁事項：</div>
                <p class="pl-5">
                    在開始訓練新夥伴上廁所前，請先決定狗狗上廁所的地點，家中有沒有庭院呢？有的話，會是狗狗能快速出門上廁所的地方或在家中室內決定一處牠適合的如廁地點。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">剪指甲事項：</div>
                <p class="pl-5">
                    飼主最好定期幫家裡狗狗剪指甲，頻率大約5-7天幫狗狗剪一次指甲是最理想的，在幫狗狗剪指甲時，可以先將狗狗放置在平整的檯子上，較容易剪指甲，相較於把狗狗放在地上剪指甲，牠們容易跑走之外，人需要彎腰下去剪也比較不好作業，最好是將狗狗抱上平台上剪。
                </p>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">生活環境需求：</div>
                <div class="row need-block">
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/pet-bed.png">
                            <div class="text-white">狗窩</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/tennis-ball.png">
                            <div class="text-white">玩具</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/snack.png">
                            <div class="text-white">狗飼料</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/dispenser.png">
                            <div class="text-white">水盆</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/toothbrush.png">
                            <div class="text-white">牙刷</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/pet-food.png">
                            <div class="text-white">飼料盆</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/nail-clipper.png">
                            <div class="text-white">指甲剪</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 font-size-24 mb-5 ">
                <div class="mb-3">不能吃的食物：</div>
                <div class="row food-block">
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/chocolate-bar.png">
                            <div class="text-white">巧克力</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/shallot.png">
                            <div class="text-white">青蔥、韭菜</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/garlic.png">
                            <div class="text-white">大蒜</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/milk.png">
                            <div class="text-white">牛奶</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/grapes.png">
                            <div class="text-white">葡萄</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/onion.png">
                            <div class="text-white">洋蔥</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/avocado.png">
                            <div class="text-white">酪梨</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/liquor.png">
                            <div class="text-white">酒精</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/walnut.png">
                            <div class="text-white">核桃</div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="mx-auto">
                            <img src="/Upload/meat.png">
                            <div class="text-white">生肉</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>