<style>
	.cat_btn{
		border-radius: 20px;
	}
</style>
<div class="w-100 h-100 img-cover position-relative" style="background-image: url('/Upload/pet.jpg');">
	<div class="position-absolute mx-auto d-flex btn-block" style="bottom: 10%;left: 0;right: 0;width: fit-content;">
		<a class="btn btn-dark p-3 mr-3 d-flex align-items-center pr-5 pl-5 cat_btn" href="/Other/dog">
			<h1 class="m-0">狗狗</h1>
			<img width="60" src="/Upload/other_1.png" >
		</a>
        <a class="btn btn-dark p-3 ml-3 d-flex align-items-center pr-5 pl-5 cat_btn" href="/Other/cat" >
            
            <img width="60" src="/Upload/other_1.png">
            <h1 class="">貓咪</h1>
        </a>
	</div>
</div>